NODE_ENV=local
MFE_HOST=http://localhost:3000
BFF_HOST=http://localhost:4444/api
BFF_BLOG_HOST=http://localhost:3333/api/blog
BFF_VERSION=v1
GRAPHQL_URL=http://localhost:4444/graphql
ALGOLIA_INDEX_NAME=courses-local
NEXT_PRIVATE_LOCAL_WEBPACK=true
NEXT_PUBLIC_COOKIES_ACCESS_TOKEN=
NEXT_PUBLIC_COOKIES_USER_PROFILE=
NEXT_PUBLIC_COOKIES_USER_INFO=