MONGODB_URL=mongodb://host.docker.internal:27017/whatsnxt
PORT=4444
JWT_SECRET=Secure@123
RAZOR_PAY_KEY=
RAZOR_PAY_SECRET=
EMAIL=support@whatsnxt.in
EMAIL_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379
HTTP_USER=admin

CLOUDINARY_URL=cloudinary://xxx:xxx-xxx-s@cloudinary999
CLOUDINARY_UPLOAD_PRESET=whatsnxt
