MONGODB_URL=mongodb://localhost:27017/whatsnxt
MONGODB_URL=mongodb://host.docker.internal:27017/whatsnxt
NODE_ENV=prod
MONGODB_URL=mongodb+srv://username_here:12qwaszx@cluster0.2pxwil8.mongodb.net/whatsnxt
PORT=4444
JWT_SECRET=something
RAZOR_PAY_KEY=
RAZOR_PAY_SECRET=
EMAIL=support@whatsnxt.in
EMAIL_PASSWORD=something

CLOUDINARY_URL=cloudinary://xxx:xxx-xxx-s@cloudinary999
CLOUDINARY_UPLOAD_PRESET=whatsnxt