.search-results {
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 999;
}

.result-item {
    transition: background-color 0.2s ease;
}

.result-item:hover {
    background-color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme="dark"] .result-item:hover {
    background-color: var(--mantine-color-dark-6);
}