.cart-container {
  position: relative;
  display: inline-block;
}

.cart-item-count {
  position: absolute;
  top: -1px;
  right: -3px;
  background-color: #fe4a55;
  color: white;
  border-radius: 50%;
  height: 14px;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  width: 14px;
}