.search-box {
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.search-box--toolbar {
    margin: 0;
}



@media (min-width: 992px) and (max-width: 1000px) {
    .search-box {
        display: none;
    }
}