.link {
    display: block;
    text-decoration: none;
    color: var(--mantine-color-text);
    line-height: 1.2;
    font-size: var(--mantine-font-size-lg);
    padding: var(--mantine-spacing-xs);
    border-top-right-radius: var(--mantine-radius-sm);
    border-bottom-right-radius: var(--mantine-radius-sm);
    border-left: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}

.linkActive {
    font-weight: 500;
    border-left-color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
    color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));

    &,
    &:hover {
        background-color: var(--mantine-color-blue-light) !important;
    }
}


.tileToc {
    transition: all 0.2s ease;
    background-color: var(--mantine-color-body);
    border: 0.5px solid var(--mantine-color-gray-2);
}

.tileToc:hover {
    background-color: var(--mantine-color-gray-0);
    transform: translateY(-1px);
    border-color: var(--mantine-color-blue-4);
}

.tileTocActive {
    background-color: var(--mantine-color-blue-0);
    border-color: var(--mantine-color-blue-5);
}

.tileTocActive:hover {
    background-color: var(--mantine-color-blue-0);
}