.card {
  background-color: var(--mantine-color-body);
  width: 100%;
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 0.85rem;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.2;
  color: light-dark(var(--mantine-color-dark-7), var(--mantine-color-white));
}

.body {
  padding: var(--mantine-spacing-xs);
}

.author {
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1300px) {
  .author {
    flex-wrap: wrap;
  }
}