.divider {
    border-bottom: 1px solid #CCC;
    margin-top: 16px;
    margin-bottom: 16px;
}

.save-button {
    background: #fe4a55;
    color: #FFF;
    width: 150px;
    height: 64px;
}

.edit-category-form {
    max-width: 400px;
}

.edit-icon {
    cursor: pointer;
    color: orange;
    fill: orange;
}